/*Root*/

:root {
  --extra-dark: #2d3440;
  --extra-dark-1: rgba(45, 52, 64, 0.1);
  --extra-dark-12: rgba(45, 52, 64, 0.12);
  --extra-dark-3: rgba(45, 52, 64, 0.3);
  --neutral-dark-2:rgba(194, 194, 194, 0.2);
  --dark: #565c66;
  --neutral: #b9b9b9;
  --light: #e7e7e7;
  --extra-light: #fcfcfc;
  --extra-light-3: rgba(252, 252, 252, 0.3);
  --extra-light-4: rgba(252, 252, 252, 0.4);
  --white: #ffffff;
  --extra-bright-pink: #ff2f64;
  --extra-bright-pink-3: rgba(255, 47, 100, 0.3);
  --bright-pink: #ff4a78;
  --neutral-pink: #ff7799;
  --light-pink: #feafc3;
  --extra-light-pink: #ffcbd8;
  --blue: #69a9ff;
  --yellow: #fcc850;
  --red: #ea5454;
}

/*Global*/

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


img {
  max-width: 100%;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  display: flex;
  flex-direction: column;
  min-width: 1200px;
  height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--dark);
  background-color: var(--light-pink);
}

.pink {
  background-color: var(--light-pink);
}

.blue {
  background-color: var(--blue);
}

.yellow {
  background-color: var(--yellow);
}

.container {
  width: 1170px;
  margin: 0 auto;
}

/*Button*/

.button {
  font: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: var(--extra-dark);
  background-color: var(--extra-light);
  border: 4px solid var(--extra-light-4);
  border-radius: 26px;
  box-shadow: 0 4px 12px var(--extra-dark-1);
  background-clip: padding-box;
}

.button-pink {
  color: var(--extra-light);
  background-color: var(--extra-bright-pink);
  border: 4px solid var(--extra-bright-pink-3);
}

/*Header*/

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu-link {
  font-size: 16px;
  line-height: 20px;
  color: var(--extra-dark);
  text-decoration: none;
}

.main-menu-link-catalog:hover + .submenu-list {
  display: block;
}

.submenu-list {
  position: absolute;
  display: none;
  top: 78px;
  left: 252px;
  margin: 0;
  padding: 12px 16px;
  list-style: none;
  background-color: var(--extra-light);
  box-shadow: 0 8px 16px var(--extra-dark);
  border-radius: 4px;
}

.submenu-link {
  display: block;
  padding: 8px 0;
  font-size: 14px;
  line-height: 20px;
  color: var(--extra-dark);
  text-decoration: none;
}

.submenu-item:first-child .submenu-link {
  font-weight: 700;
  border-bottom: 1px solid var(--neutral);
}

.nav-phone {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--extra-dark);
  text-decoration: none;
}

.user-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-menu-button {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: var(--extra-dark);
  background-color: var(--extra-light-3);
  border: none;
  border-radius: 27px;
  cursor: pointer;
}

/*Slider*/

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-title {
  margin: 0;
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
  color: var(--extra-dark);
}

.slider-text {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: var(--extra-dark);
}

.slider-button-nav {
  color: var(--extra-light);
  background-color: var(--extra-light-3);
  border: 2px solid var(--extra-light);
  border-radius: 26px;
}

.slider-pagination {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*Socials*/

.socials-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials-link {
  color: var(--extra-light);
}

/*Gifts*/

.title {
  margin: 0;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  color: var(--extra-dark);
}

.gifts-subtitle {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--extra-dark);
}

.gifts-text {
  margin: 0;
  color: var(--extra-dark);
}

.gifts-wrapper {
  min-height: 268px;
  background-color: var(--neutral-pink);
  background-repeat: no-repeat;
  background-position: 100% 0;
  border-radius: 16px;
}

.gifts-raspberry {
  background-image: url("../images/raspberry.png");
}

.gifts-marshmallow {
  background-image: url("../images/marshmellow.png");
}

.gifts-link {
  display: inline-block;
}

/*Popular*/

.popular-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*Catalog*/

.catalog-item {
  background-color: var(--extra-light);
}

.catalog-item-img {
  border-radius: 50%;
  box-shadow: 0 4px 12px var(--extra-dark-1);
}

.catalog-item-title {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--extra-dark);
}

.catalog-item-text {
  margin: 0;
}

.catalog-item-price {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--extra-dark);
}

.catalog-item-button {
  color: var(--extra-light);
  background-color: var(--extra-bright-pink);
  border: none;
  border-radius: 26px;
}

/*About*/

.about {
  padding: 24px;
  border-radius: 16px;
  background-image: url("../images/background-about.jpg");
}

.about-wrapper {
  border-radius: 16px;
  background-color: var(--white);
}

.about-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*News*/

.news {
  min-height: 224px;
  background-image: url("../images/background-blog.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 16px;
}

.news-link {
  text-decoration: none;
  color: var(--dark);
}

.news-title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.news-text {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--extra-dark);
}

/*Mailing*/

.mailing-inner {
  background-color: var(--white);
  border-radius: 16px;
}

.mailing-text {
  margin: 0;
}

.mailing-form-input {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: var(--neutral);
  border: 1px solid var(--neutral);
  border-radius: 4px;
}

/*Delivery*/

.delivery {
  min-height: 534px;
  background-image: url("../images/background-mailing.png");/*Перевернуть*/
  background-size: cover;
  border-radius: 16px;
}

.delivery-text {
  margin: 0;
}

.delivery-form-wrapper {
  background-color: var(--extra-light);
  box-shadow: 0 15px 40px var(--extra-dark-12);
  border-radius: 8px;
}

.delivery-form-text {
  line-height: 20px;
  font-weight: 700;
  color: var(--extra-dark);
}

.delivery-form-input {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: var(--neutral);
  border: 1px solid var(--neutral);
  border-radius: 4px;
}

/*Contacts*/

.contacts {
  min-height: 492px;
  background-image: url("../images/background-contacts.jpg");
  background-size: cover;
  border-radius: 16px;
}

.contacts-wrapper {
  background-color: var(--extra-light);
  box-shadow: 0 8px 16px var(--extra-dark-12);
  border-radius: 8px;
}

.contacts-title {
  margin: 0;
}

.contacts-text {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--extra-dark);
}

.contacts-phone-mark {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.contacts-address {
  font-style: normal;
}

/*Footer*/

.footer-menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu-link {
  font-size: 14px;
  line-height: 20px;
  color: var(--extra-dark);
  text-decoration: none;
}

.footer-menu-item:first-child .footer-menu-link {
  font-weight: 700;
}

.copyright-text {
  font-size: 12px;
  line-height: 16px;
  color: var(--extra-dark);
}

.copyright-text-link {
  color: var(--extra-dark);
}

/*Breadcrumbs*/

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--extra-dark);
  text-decoration: none;
}

/*Filter*/

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-legend {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: var(--extra-dark);
}

.sort-control {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: var(--extra-dark);
  background-color: transparent;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.control-label {
  font-size: 14px;
  line-height: 20px;
  color: var(--extra-dark);
}

.catalog-filter-button {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--extra-dark);
  background-color: var(--extra-light-3);
  border: 2px solid var(--extra-light);
  border-radius: 20px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  color: var(--extra-dark);
  text-decoration: none;
}

/*Modal*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--extra-dark-3);
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px;
  background-color: var(--extra-light);
}

.modal-feedback {
  width: 570px;
  box-shadow: 0 15px 40px var(--extra-dark-12);
  border-radius: 8px;
}

.modal-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--extra-dark);
}

.modal-input {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: var(--neutral);
  background-color: var(--white);
  border: 1px solid var(--neutral);
  border-radius: 4px;
}

.modal-container-close {
  display: none;
}

/*Popover*/

/*Popover-cart*/

.popover {
  position: absolute;
  display: none;
  color: var(--extra-dark);
  background-color: var(--extra-light);
  border-radius: 4px;
  box-shadow: 0 15px 40px var(--extra-dark-12);
}

.popover-cart {
  top: 76px;
  right: 98px;
  flex-direction: column;
  width: 441px;
  padding: 48px;
  min-height: 382px;
  z-index: 1;
}

.popover-cart-open {
  display: flex;
}

.popover-cart-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.cart-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cart-link {
  color: var(--extra-dark);
  text-decoration: none;
}

.cart-item-details dt {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.cart-item-details dd {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: var(--neutral);
}

.cart-item-price {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.cart-total {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

/*Popover-cart-empty*/

.popover-open {
  display: block;
}

.popover-cart-empty {
  top: 76px;
  right: 98px;
  width: 288px;
  min-height: 156px;
  padding: 48px 28px;
  text-align: center;
  z-index: 1;
}

.popover-cart-empty-text {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

/*Popover-enter*/

.popover-enter-open {
  display: flex;
}

.popover-enter {
  top: 76px;
  right: 229px;
  flex-direction: column;
  width: 420px;
  min-height: 350px;
  padding: 48px 48px 52px 48px;
}

.popover-enter-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.popover-enter-input {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: var(--extra-dark);
  background-color: var(--white);
  border: 1px solid var(--neutral);
  border-radius: 4px;
}

.popover-enter-input::placeholder {
  color: var(--extra-dark);
}

.popover-enter-link {
  font-size: 14px;
  line-height: 20px;
  color: var(--extra-dark);
}

/*Popover-search*/

.popover-search {
  top: 76px;
  right: 349px;
  width: 356px;
  min-height: 96px;
  padding: 24px 16px;
}

.popover-search-input {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: var(--neutral);
  background-color: var(--white);
  border: 1px solid var(--neutral);
  border-radius: 4px;
}

/*Tooltip*/

.delivery-form-tooltip-wrapper {
  position: relative;
}

.tooltip {
  position: absolute;
  width: 14px;
  height: 14px;
  margin-top: 0;
  margin-left: 0;
}

.tooltip-toggle {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../images/tooltip-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip-toggle:focus {
  outline: none;
}

.tooltip-text {
  position: absolute;
  top: 0;
  left: 100px;
  display: none;
  width: 169px;
  margin-right: 15px;
  padding: 10px 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--dark);
  background-color: var(--white);
  border: 1px solid var(--neutral);
  box-shadow: 0 4px 8px var(--neutral-dark-2);
  transform: translate(-50%);
  z-index: 1;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  /*доработать*/
  position: absolute;
  left: 100%;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-left: 7px solid var(--white);
  content: "";
}
